<a (click)="exportExcel()">  <img src="assets/images/icons/excel.png" width="50px" height="100px" ></a>
<div class="container">
  <div class="card shadow mb-4">
    <div class="card-body">
      <h1 style="color: green;font-size-adjust: revert">List of Candidacy</h1>
      <table class="table table-striped ">
        <thead>
        <tr> <th>Id Candidacy</th> <th>date Of Candidacy</th> <th> cv</th>  <th>Status</th><th>Email</th> <th>Delete</th><th>Update</th></tr>
        </thead>
        <tbody *ngFor="let candidacy of candidacies">
        <tr>
          <th scope="row">{{candidacy.idCandidacy}}</th>

          <td>{{candidacy.dateOfCandidacy}}</td>
          <td>{{candidacy.cv}}</td>
          <td>{{candidacy.status}}</td>
          <td>{{candidacy.email}}</td>
          <td><button class="btn btn-danger" (click)="deleteCandidacyById(candidacy)" >Delete</button></td>
          <td><a class="btn btn-success" [routerLink]="['/front/frontEnd/updateCandidacy',candidacy.idCandidacy]">Modifier</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

