<div class="container-fluid bg-dark">
  <div class="row py-2 px-lg-5">
    <div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">
      <div class="d-inline-flex align-items-center text-white">
        <small><i class="fa fa-phone-alt mr-2"></i>+012 345 6789</small>
        <small class="px-3">|</small>
        <small><i class="fa fa-envelope mr-2"></i>info@example.com</small>
      </div>
    </div>
    <div class="col-lg-6 text-center text-lg-right">
      <div class="d-inline-flex align-items-center">
        <a class="text-white px-2" href="">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a class="text-white px-2" href="">
          <i class="fab fa-twitter"></i>
        </a>
        <a class="text-white px-2" href="">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a class="text-white px-2" href="">
          <i class="fab fa-instagram"></i>
        </a>
        <a class="text-white pl-2" href="">
          <i class="fab fa-youtube"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid p-0">
  <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0 px-lg-5">
    <a href="index.html" class="navbar-brand ml-lg-3">
      <h1 class="m-0 text-uppercase text-primary"><i class="fa fa-book-reader mr-3"></i>Edukate</h1>
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse">
      <div class="navbar-nav mx-auto py-0">
        <a href="index.html" class="nav-item nav-link active" [routerLink]="'/front/frontEnd/homeF'">Home</a>
        <a href="about.html" class="nav-item nav-link" [routerLink]="'/front/frontEnd/abonementfront'">About</a>
        <a href="about.html" class="nav-item nav-link" [routerLink]="'/front/frontEnd/addCandidacy'">Add candidacy</a>
        <a href="about.html" class="nav-item nav-link" [routerLink]="'/front/frontEnd/candidacys'"> list candidacy</a>
        <a href="course.html" class="nav-item nav-link">Courses</a>
        <div class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
          <div class="dropdown-menu m-0">
            <a href="detail.html" class="dropdown-item"[routerLink]="'/front/frontEnd/AddCandidacy'">Course Detail</a>
            <a href="feature.html" class="dropdown-item">Our Features</a>
            <a href="team.html" class="dropdown-item">Instructors</a>
            <a href="testimonial.html" class="dropdown-item">Testimonial</a>
          </div>
        </div>
        <a href="contact.html" class="nav-item nav-link">Contact</a>
      </div>
      <a href="" class="btn btn-primary py-2 px-4 d-none d-lg-block">Join Us</a>
    </div>
  </nav>
</div>
