<div class="content-body">
    <div>
        <h2>Update Subscription :</h2>
    </div>

    <form >

        <div>
            <label >Id Abonement</label>
            <input readonly type="text" [(ngModel)]="currentAbonement.idSubscription" name="idProduit" class="form-control">
        </div>

        <div>
            <label >Contenu</label>
            <input type="text" [(ngModel)]= "currentAbonement.contenu" name="contenu" class="form-control">
     </div>

     <div>
      <label >Level</label>
     <select class="form-control" name="role" id="role" [(ngModel)]="currentAbonement.level">
      <option value=""></option>
      <option value="BRONZE">BRONZE</option>
      <option value="SILVER">SILVER</option>
      <option value="GOLD">GOLD</option>
      <option value="DIAMOND">DIAMOND</option>
     </select>
    </div>

    <div>
            <label >Date Debut</label>
            <input type="date" [(ngModel)]= "currentAbonement.datedebut" name="datedebut" class="form-control">
    </div>

    <div>
            <label >Date Fin</label>
            <input type="date" [(ngModel)]= "currentAbonement.datefin" name="datefin" class="form-control">
    </div>

    <div>
    <button type="submit" (click)="updateAbonement()" class="btn btn-success">Modifier</button>
    </div>
    </form>
    </div>
